.btn {
  width: 120px;
  height: 120px;
  margin: 5px;
  border: none;
  box-shadow: 1px 8px 3px $b-color;
  transition: 0.3s background-color ease-out;
}

.start:hover,
.pause:hover,
.stop:hover {
  box-shadow: $b-shadow;
  background-color: $s-color;
  color: $t-color;
}
