@use '../base/utility' as u;

@include u.breakpoint(large) {
  .sp-container {
    .circle {
      height: 250px;
      width: 250px;

      .circle-leg {
        left: 24px;
      }
    }
  }
  .btn {
    width: 100px;
    height: 100px;
  }
}

@include u.breakpoint(medium) {
  .sp-container {
    margin: 35px;
  }
  nav h1 {
    font-size: 3.5rem;
  }
}

@include u.breakpoint(small) {
  .btn {
    height: 80px;
    width: 80px;
  }
  nav h1 {
    font-size: 2rem;
  }
  .sp-container {
    margin: 40px;
  }
}

@include u.breakpoint(x-small) {
  .sp-container {
    .circle {
      height: 200px;
      width: 200px;
      h1 {
        font-size: 3rem;
      }
      .circle-leg {
        left: 0;
      }
    }
  }
  .btn {
    width: 75px;
    height: 75px;
  }
}

@include u.breakpointH(large) {
  .sp-container {
    margin: 40px;
  }
}
