html {
  font-size: 62.5%;
}
// TODO -> font family
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.2;
}
h1 {
  font-size: 5rem;
}
.separator {
  color: $b-color;
}
.btn {
  cursor: pointer;
  font-size: 2rem;
  color: $s-color;
  font-weight: 700;
}
