$break-points: (
  'large': 1200px,
  'medium': 783px,
  'small': 500px,
  'x-small': 350px,
);
@mixin breakpoint($size) {
  @media screen and(max-width: map-get($break-points,$size)) {
    @content;
  }
}

@mixin breakpointH($size) {
  @media screen and (max-height: map-get($break-points,$size)) {
    @content;
  }
}
