.sp-container {
  margin: 60px 0;
  .circle {
    height: 300px;
    width: 300px;
    background-color: $d-color;
    position: relative;
    box-shadow: inset 0 5px 2px $b-color, inset 5px 5px 1px $b-color,
      inset -5px 5px 1px $b-color, inset 0px -5px 1px $b-color,
      0px 2px 10px $b-color;

    h1 {
      color: $t-color;
    }

    .sm-circle {
      height: 100px;
      width: 100px;
      background-color: $b-color;
      z-index: -1;
    }
    .left {
      position: absolute;
      left: 10px;
      top: 0;
    }
    .right {
      position: absolute;
      right: 10px;
      top: 0;
    }
    .circle-leg {
      width: 200px;
      height: 30px;
      background-color: $d-color;
      position: absolute;
      bottom: -10px;
      left: 50px;
      border-radius: 10px;
      z-index: -1;
      box-shadow: 0 10px 5px 0;
    }
  }
}
