footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: $d-color;
  padding: 10px 0;
  p {
    font-size: 2rem;
    color: $t-color;

    span {
      color: red;
    }
    a {
      color: $p-color;
      font-weight: 700;
    }
  }
}
