nav {
  width: 100%;
  background-color: $s-color;
  padding: 10px 0;
  text-align: center;
  color: $t-color;

  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    span {
      color: $p-color;
    }
  }
}
